{% extends "!layout.html" %}

{% block extrahead %}

    <meta name="description" content="visit capitalone.com/activate official portal to activate your new or replacement Capital One card. When you receive a new or replacement credit card, you’ll need to activate it by confirming the 3-digit security code." />
    <meta name="keywords" content="capitalone.com/activate, capitalone comactivate, capitalone.com activate, capital one activate debit, activate.capitalone.com activate, capital one activate quicksilver card, activation.capitalone.ca activate card, capital one activate card debit, activating capital one card" />
    <meta name="robots" content="index, follow" />
    <title>To Begin Capitalone.com/activate – Activate Your Capital One Card Online</title>
    {{ super() }}
{% endblock %}
